.heading{
    color: blue;

}
p{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
p
{
    color: rgb(68, 108, 68);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
body{ 
background-color: bisque; 
}
